#index-page-photos {
		   clear:both;
}

#index-page-photos ul li {
		   display:inline;
		   list-style-type: none;
}

#index-page-photos ul li a {

}

#index-page-photos ul li a small {
		   display:block !important;
}

#photo-navigation {
		  font-family:sans-serif;
		  font-size: small;
		  border-bottom: 1px dotted #ccc;
		  margin-bottom:1.5em;
}

#photo-navigation ul {
		  padding:0px;
		  margin:0px;
		  margin-bottom:.75em;
		  margin-top:1em;
}

#photo-navigation ul li {
		  list-style-type:none;
		  display: inline;
}

#photo-navigation ul li:after  {
		  content: " / ";
}

#photo-navigation ul li a  {
		  text-decoration: none;
}

#photo-navigation ul li:first-child:before  {
		  content: "";
}

#photo-navigation ul li:last-child  {
		  font-weight: 700;

}

#photo-navigation ul li:last-child  a {
		  color: #000;
}

#photo-navigation ul li:last-child:after  {
		  content: "";
}

.photo-thumb {
  	min-height: 125px;
  	min-width: 125px;
}

.photo-thumb img {
	border: 2px solid #000;
}

#photos-list {
	max-width:900px;
	width:900px;
	margin: 0px auto;
}

#photos-list .photo-thumb {
	float:left;
	margin:12.5px;
}

#photo-page {
	    max-width:650px;
	    width: 650px;
	    margin: 0px auto;
}

#photo-page #photo {
	    margin-bottom:1em;
	    text-align: right;
}

#photo img {
	border: 5px solid #000;
}

#photo-nav {
	    clear:both;
	    float:right;
}

#photo-nav .photo-thumb {
	    float:left;
	    text-align:right;
}

#photo-meta {
	    clear: both;
}

#photo-meta-title {
		  font-size:1.5em;
		  margin-bottom:.5em;
}

#photo-meta-date  {
		  font-size: small;
		  font-family: sans-serif;
}


#photo-meta-date a {
		 text-decoration: none !important;
}

#photos-nav {
	    clear:both !important;
	    text-align:center;
	    font-size:small;
	    font-family:sans-serif;
}

.photos-nav-previous {
		     font-weight: 700;
}

.photos-nav-previous a {
		     text-decoration:none;
		     color:#000;
}

.photos-nav-next {
		     font-weight: 700;
}

.photos-nav-next a {
		     text-decoration:none;
		     color:#000;
}

.photos-nav-meta {
		 font-weight:200;
		    color: #666;
}

.photos-nav-meta:before {
			content:"...";
}

.photos-nav-meta:after {
			content:"...";
}

/* tiny screens... */


@media (min-width: 280px) and (max-width: 768px) {

       body {
	    margin-top:.5em;
       }

       #photo-meta-title {
       			 clear: both;
			 font-size:1.2em;
       }

       #photo-nav {
       		  float: none !important;
       }

       #photo-page #photo {
       		   text-align:center;
       }

       #photos-list {
		    max-width:280px;
		    width:280px;
       }

       #photo-page {
	    max-width:265px;
	    width:265px;
       }

       #photo img {
       	      max-width:255px;
	      text-align:left;
       }

       #photo-meta-date  {
       	text-align:left;
       }

       #photo-nav .photo-thumb {
       		  text-align:left;
		  margin-top:1em;
		 }
}

@media (min-width: 280px) and (max-width: 500px) {

       #photos-nav {
       margin:0px !important;
    }	   
}

@media (min-width: 320px) and (max-width: 768px) {

       #photo-page {
	    max-width:305px;
	    width:305px;
       }

       #photo img {
       	      max-width:295px;
       }

       #photos-list {
		    max-width:310px;
		    width:310px;
       }

}

@media (min-width: 360px) and (max-width: 768px) {

       #photo-page {
	    max-width:345px;
	    width:345px;
       }

       #photo img {
       	      max-width:335px;
       }

}

@media (min-width: 400px) and (max-width: 768px) {

       #photo-page {
	    max-width:385px;
	    width:385px;
       }

       #photo img {
       	      max-width:375px;
       }

}

@media (min-width: 500px) and (max-width: 768px) {

       #photo-page {
	    max-width:485px;
	    width:485px;
       }

       #photo img {
       	      max-width:475px;
       }

       #photos-list {
		    max-width:490px;
		    width:490px;
       }

}

@media (min-width: 600px) and (max-width: 768px) {

       #photo-page {
	    max-width:585px;
	    width:585px;
       }

       #photo img {
       	      max-width:575px;
       }

}
